@use "src/scss" as *;

.login {
  min-height: 100vh;
  display: grid;
  place-items: center;

  &__inner {
    width: 500px;

    @include mobile {
      width: 350px;
    }
  }

  .ant-form {

    .ant-form-item-required {
      font-weight: 600 !important;
      font-size: 16px !important;
    }
  }
}