@use "src/scss" as *;

.partners {

  .cards {
    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint-down(950px) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-down(680px) {
      grid-template-columns: 1fr;
    }
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    &__txt {
      font-weight: 500;
      font-size: 15px;
    }
  }
}