@use "./scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: $font-family;
  color: $txt-color;
  background: $bg-color;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
  background-color: #e1e1e1;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #a1a1a1;

  &:hover {
    background: #8f8f8f;
  }
}

.txt {
  color: $txt-color;
}
.red {
  color: #ed2b46 !important;
}
.green {
  color: #12b700 !important;
}

.page {
  min-height: 100vh;
  padding: 25px 0;
  margin-left: calc(250px + 1rem);

  @include tablet {
    margin-left: calc(60px + 1rem);
  }
  @include mobile {
    margin-left: calc(40px + 1rem);
  }
  @include breakpoint-down(450px) {
    margin-left: calc(40px);
  }

  .container {
    padding-inline: 0 1rem;

    @include breakpoint-down(450px) {
      padding-inline: 10px;
    }
  }

  .content {
    padding: 24px 24px;
    border-radius: 20px;
    background: #fff;

    @include mobile {
      padding: 1rem;
    }
    @include breakpoint-down(450px) {
      padding-inline: 10px;
    }

    &__titles {
      margin-bottom: 1.5rem;
    }
    &__title {
      font-size: 20px;
    }
  }
}

// ant-design
.ant-table {

  &-cell:nth-child(2) {
    font-weight: 600;
  }
  &-cell:last-child {
    text-align: center !important;
  }

  .ant-tag {
    font-weight: 500;
    padding: 0 10px;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__btn {
      width: 33px;
      height: 33px;
      padding: 5px;
      border-radius: 10px;
      background: #979da920;
      transition: opacity 0.3s ease;

      &.view {
        background: #3e97ff20;

        i {
          color: #3e97ff;
        }
      }
      &.edit {
        background: #ffb62c20;

        i {
          color: #ffb62c;
        }
      }
      &.delete {
        background: #ed2b4620;

        i {
          color: #ed2b46;
        }
      }
      &.tg {
        i {
          top: 2px;
          font-size: 18px;
          color: #1086c2;
        }
      }

      &:hover {
        opacity: 0.8;
      }

      i {
        color: #979da9;
      }
    }
  }

  @include mobile {
    font-size: 90% !important;

    .ant-table-cell {
      padding: 12px 10px !important;
    }
  }
}

.ant-pagination {
  margin-bottom: 0 !important;
}

.ant-modal {
  margin-right: 1rem;

  &-title {
    font-weight: 600 !important;
    font-size: 22px !important;
    margin-bottom: 1rem !important;
  }

  .ant-form {

    &-item {
      margin-bottom: 10px;

      &.age {
        flex: 1;
      }

      &-required {
        font-weight: 500;
      }
    }
  }
}

.ant-select {

  &-item-option-content {
    font-weight: 500;
    font-size: 16px;
  }
}

.main-modal {
  top: 20px;
}

// cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;

  @include breakpoint-down(950px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include breakpoint-down(680px) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakpoint-down(450px) {
    grid-template-columns: 1fr;
  }

  .card {
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 5px 25px -10px #11111140;

    &__titles {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .title {
        font-weight: 600;

      }
      i {
        font-size: 22px;
        color: $main-color;
      }
    }

    &__num {
      font-weight: 600;
      font-size: 22px;
    }

    @include breakpoint-down(1250px) {
      height: 120px;

      .title {
        font-weight: 500;
        font-size: 16px;
      }
      i {
        font-size: 18px;
      }

      &__num {
        font-size: 18px;
      }
    }
    @include breakpoint-down(680px) {
      height: 100px;

      //&:nth-child(1) {
      //  display: none;
      //}
      //&:nth-child(4) {
      //  display: none;
      //}
    }
    @include breakpoint-down(450px) {
      &__num {
        font-weight: 500;
      }
    }
  }
}

// tabs
.tabs {
  .tab1 {
    width: 120px;
    display: block;
    margin: 0 auto 10px;
  }
  
  .ant-segmented {
    font-weight: 500;

    &-item-label {
      @include breakpoint-down(480px) {
        font-size: 14px !important;
      }
      @include breakpoint-down(430px) {
        min-height: 30px !important;
        font-weight: 600 !important;
        font-size: 12px !important;
        padding-inline: 2px !important;
      }
    }
  }
}

// search
.search {
  @include mobile {
    gap: 10px;

    input {
      font-size: 14px;
      padding-block: 5px;
    }

    .ant-btn {
      width: 32px;
      height: 32px;

      .anticon {
        font-size: 15px;
      }
    }

    .btn {
      width: 32px;
      height: 32px;
      padding: 2px;

      i {
        font-size: 14px;
      }
    }
  }
}