$font-family: "Montserrat", sans-serif;

$main-color: #4661E6;
$txt-color: #3a4374;
$bg-color: #F7F8FD;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$border-radius: 100px;
$mobile-width: 600px;
$tablet-width: 1024px;